.dashboard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard h2 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
  }
  .linhas{
    color: red;
  }
  .dashboard p {
    color: #aaa;
    margin-bottom: 1em;
  }
  
  .nousers {
    text-align: center;
  }
  
  .nousers p {
    margin-bottom: 1.5em;
  }
  
  .nousers a {
    padding: 10px 25px;
  }
  
  .users_header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    width: 100%;
    padding: 10px;
    margin-right: 10px;
  }
  
  .users_row {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    border-bottom: 1px solid green;
    width: 100%;
    padding: 10px;
  }
  
  .users_row p {
    color: #000;
  }
  
  .users_row button,
  .users_row a {
    margin: 0 5px;
    height: 30px;
    width: 100px;
    font-size: 0.7em;
  }
 