.footer {
    padding-top: 5px;
    background: #E6E6FA;
    border-radius: 4px;
    width: 800px;
    padding: 50px 100px;
    border: 2px solid black;
    box-shadow: 15px 15px 1px #4F4F4F, 15px 15px 1px 2px black;
    font-family: "Fjalla One";
    justify-content: space-between;
    align-items: center;
    height: 10px;
    margin-left: 125px;
 

  }
  