@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

.navbar {
    display: flex;
    box-shadow: 15px 15px 1px #4F4F4F, 15px 15px 1px 2px black;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    background: #E6E6FA;
    width: 900px;
    padding: 10px 100px;
    border: 2px solid black;
    border-radius: 4px;
    list-style: none;
    font-family: "Fjalla One";
    text-decoration: none;

}

.brand {
    font-size: 1.2em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list li {
    margin-right: 1em;
}

.links_list li a {
    padding: 0.4em 0.6em;
}

.active {
    background-color: #000;
    color: #fff;
}
