@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

.navbar {
    display: flex;
    box-shadow: 15px 15px 1px #4F4F4F, 15px 15px 1px 2px black;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    background: #E6E6FA;
    width: 800px;
    padding: 10px 100px;
    border: 2px solid black;
    border-radius: 4px;
    font-family: "Fjalla One";
    margin-left: 100px;
    margin-top: 0px;
}
li{
    list-style: none;
}
.NavLink{
    text-decoration: none;
    color: black;
}
.tituloLAMIA{
    text-decoration: none;
    color: black;

    font-size: 36px;
    margin-bottom: 0px;
    font-weight: bolder;
}