@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../public/background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  align-items: center;
  padding-left: 19%;
  justify-items: center;
  border-radius: 20px;
}

.contact-us {
  background: #E6E6FA;
  border-radius: 4px;
  width: 900px;
  padding: 50px 100px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px #4F4F4F, 15px 15px 1px 2px black;
}

input {
  display: block;
  width: 100%;
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid black;
  background: #4F4F4F;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: black;
}

input:focus {
  border-bottom: 5px solid darkcyan ;
}

button {
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: #4F4F4F;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px 1px black, 3px 3px 1px 2px black;
}
button:hover {
  background: black;
  color: white;
  border: 1px solid black;
}

::selection {
  background: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 5px solid black;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #E6E6FA inset;
  transition: background-color 5000s ease-in-out 0s;
}
h2{
  color: grey;
}